name: .NET CI/CD Proxmox

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_test:
    runs-on: [self-hosted, linux]

    defaults:
      run:
        working-directory: ./src

    env:
      DOTNET_ROOT: /usr/share/dotnet

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Check Dotnet Version
      run: dotnet --version

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal

    - name: Publish
      run: dotnet publish SSO.Api/SSO.Api.csproj -c Release -o ../publish_output

    - name: Deploy & generate secrets
      run: |
        echo "Stop service"
        sudo systemctl stop sso-api.service || true

        echo "Copy files"
        sudo mkdir -p /var/www/sso-api
        sudo cp -r ../publish_output/* /var/www/sso-api/

        echo "Generate appsettings.Production.json"
        sudo tee /var/www/sso-api/appsettings.Production.json <<EOF
        {
          "EnvSettings": {
            "SecretTest": "${{ secrets.SECRET_TEST }}"
          }
        }
        EOF

        echo "Secure permissions"
        sudo chown -R www-data:www-data /var/www/sso-api
        sudo chmod 600 /var/www/sso-api/appsettings.Production.json

        echo "Start service"
        sudo systemctl start sso-api.service