name: CI/CD Unified

on:
  push:
    branches: [ "main", "develop" ]

jobs:
  deploy:
    # 1. Choix du Runner (Prod ou Dev)
    runs-on: [self-hosted, linux, "${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}"]
    
    # 2. Choix de l'Environnement (Pour charger les bons secrets GitHub)
    environment: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Development' }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Restore Dependencies
      run: dotnet restore src/SSO.Api/SSO.Api.csproj

    - name: Build
      run: dotnet build src/SSO.Api/SSO.Api.csproj --no-restore --configuration Release

    - name: Publish
      run: dotnet publish src/SSO.Api/SSO.Api.csproj -c Release -o publish_output

    - name: Deploy
      run: |
        # --- LOGIQUE BASH (Plus fiable que YAML) ---
        if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
          TARGET_ENV="Production"
        else
          TARGET_ENV="Development"
        fi
        
        echo "Environnement détecté : $TARGET_ENV"
        echo "Génération du fichier .env..."
        
        # Injection des secrets (GitHub injecte automatiquement ceux du bon environnement choisi plus haut)
        cat <<EOF > publish_output/.env
        ASPNETCORE_ENVIRONMENT=$TARGET_ENV
        EnvSettings__SecretTest=${{ secrets.SECRET_TEST }}
        EOF

        echo "Arrêt du service..."
        sudo systemctl stop sso-api.service || true

        echo "Copie des fichiers..."
        sudo mkdir -p /var/www/sso-api
        sudo cp -r publish_output/* /var/www/sso-api/
        
        echo "Mise à jour de Systemd..."
        sudo cp deployment/sso-api.service /etc/systemd/system/sso-api.service
        sudo systemctl daemon-reload

        echo "Permissions..."
        sudo chown -R www-data:www-data /var/www/sso-api
        sudo chmod 600 /var/www/sso-api/.env

        echo "Démarrage..."
        sudo systemctl enable sso-api.service
        sudo systemctl start sso-api.service
        
        echo "Déploiement terminé sur $TARGET_ENV !"